/*=================== Main colors ==========================*/
:root {
    --orangeColor: #E67816;
    --blueColor: #014E94;
}

/*====================== Fonts ============================*/
@font-face {
    font-family: regular_font;
    src: url(../fonts/Tajawal-Regular.ttf);
}

@font-face {
    font-family: bold_font;
    src: url(../fonts//Tajawal-Bold.ttf);
}

/*=================== global styles =====================*/
* {
    padding: 0 !important;
    margin: 0 !important;
}
body {
    background: #F7F7F7;
    font-family: regular_font;
    overflow-x: hidden;
}

/* =================== dropdown ================== */
div.dropdown button {
    background: none !important;
    border: none !important;
}
div.dropdown-menu button {
    padding: 5px !important;
    transition: all .3s ease;
}
div.dropdown-menu button:hover {
    background: var(--orangeColor) !important;
    color: #ffffff;
}
/*=================== navbar =====================*/
nav.navbar {
    background: #ffffff;
    padding: 0 100px !important;
}
nav.navbar .brand a img {
    width: 100px;
    height: 100px;
    object-fit: fill;
}
nav.navbar .nav-content {
    display: flex;
    align-items: center;
}
nav.navbar .nav-content div.avatar,
nav.navbar .nav-content div.theme,
nav.navbar .nav-content div.notification,
nav.navbar .nav-content div.language {
    margin-left: 20px !important;
}
nav.navbar .nav-content div.avatar img {
    height: 60px;
    width: 60px;
    object-fit: fill;
    border-radius: 50%;
    border: 2px solid var(--blueColor);
}
nav.navbar svg {
    color: var(--blueColor);
    font-size: 30px;
} 
/*=================== Sidemenu =====================*/
div.sidemenu {
    background: var(--blueColor);
    height: 100%;
    position: fixed;
    width: 250px;
    color: #ffffff;
    padding: 40px 0 !important;
    overflow-y: auto;
}
div.sidemenu h6 {
    font-family: bold_font;
    padding: 0 20px !important;
    font-size: 24px;
}
div.sidemenu ul li {
    padding: 0 20px !important;
    margin: 20px 0 !important;
    font-size: 18px;
}
div.sidemenu ul li a {
    color: #ffffff !important;
    position: relative;
    display: block;
    text-align: start;
    padding: 10px !important;
    border: none;
}
div.sidemenu ul li a::after {
    content: '';
    position: absolute;
    background-color: var(--orangeColor);
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    transition: all .3s ease;
    z-index: -1;
}
div.sidemenu ul li a.active::after {
    width: 100%;
}
div.sidemenu ul li a:hover::after {
    width: 100%;
}